.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.content {
    flex: 1;
    padding: 20px;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #0077FF;
}

a:hover {
    text-decoration: underline;
}
